body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
  }
  
  .loyalty-program-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #6a11cb, #2575fc);
  }
  
  .loyalty-program-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: #2575fc;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
  }
  .H1{
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #2575fc;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .loyalty-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .loyalty-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .loyalty-button {
    padding: 12px;
    background-color: #2575fc;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 10px;
  }